PUID=1000
PGID=1000
TZ=America/Denver

MASTER_IP=192.168.1.10

TELEGRAM_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID

CPU_THRESHOLD=90
MEM_THRESHOLD=90
DISK_THRESHOLD=85
MEM_LIMIT=800

MASTER_URL=http://localhost:8888
NODE_PORT=8080
